*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  
  font-family: Arial, sans-serif;
}


.container {

  width: 50%;
  min-height: 90vh;
 
  margin: 20px auto;
  padding: 10px;
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;         
  justify-content: center; 
  
  gap: 10px;               
  padding: 10px;
}


.box {
  
  width: 100vw;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

.box1{
    display: flex;
    width: 100%;
    padding: 1px;
    gap: 10px;
    
}
.box2{
    width: 100%;
}
.box3{
    display: flex;
    width: 100%;
    gap: 10px;
    
}
.box31{
    width: 100%;
   
    
}
.box32{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}
.box4{
    width: 100%;
}

#header {
  background-color: black;
  width: 30%;
  height: 75px;
  
}
#menu {
  background-color: palevioletred;
  width: 70%;
  height: 75px;
  
}
#hero {
  background-color: rgb(0, 208, 255);
  width: 100%;
  height: 150px;
}
#main {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 150px;
}
#image {
  background-color: teal;
  width: 50%;
  height: 50%;
}
#extra {
  background-color: rgb(157, 255, 0);
  color: black;
  width: 50%;
  height: 50%;
}
#banner {
  background-color: rgb(180, 205, 52);
  color: black;
  width: 100%;
  height: 75px;
}


@media (max-width: 768px) {
  .box1
   {
    flex-direction: column;
  }

  #header, #menu, #main, #image, #extra, #banner, #hero {
    width: 100%;
  }
}